*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-decoration: none;
}
#center{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    position: relative;

    flex-direction: column;
}
body{
    background-color: rgb(30,30,30);
}
#main {
    font-size: 25px;
    position: absolute;
    right: 50px;
    
    color: rgb(255, 255, 255);
    z-index: 5;
}
#projects{
    font-size: 25px;
    position: absolute;
    right: 200px;
    color: rgb(203, 147, 255);
    z-index: 5;
    text-decoration: underline;
    transition: .3s;
}
.item{
    width: 500px;
    height: 110px;
    border: 3px solid rgba(20, 20, 20, 0.5);
    border-radius: 15px;
    background-color: rgba(20, 20, 20, 0.5);
    text-align: center;

    box-sizing: border-box;
    margin-bottom: 10px;
}
.itemImg{
    height: 100px;
    position:static;
    display: flex;
    left: 0;
    border-radius: 100%;
}
.itemtext{
    z-index: 5;
    display: flexbox;
    margin-top: -90px;
    margin-left: 35px;
    font-size: 40px;
}
.itemdesc{
    z-index: 5;
    display: flexbox;
    margin-top: -5px;
    font-size: 15px;
    margin-left: 55px;
}
#menu{
    display: none;
}
#menuImg{
    display: none;
}
#center-tit{
    width: 100%;
    height: auto;
    position: absolute;
    text-align: center;
    font-size: 40px;
    top: 100px;
}
@media (max-width: 767px) {
    .item{
        width: 300px;
        height: 90px;
        border: 3px solid rgba(20, 20, 20, 0.5);
        border-radius: 15px;
        background-color: rgba(20, 20, 20, 0.5);
        text-align: center;
    
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .itemImg{
        height: 80px;
        position:static;
        display: flex;
        left: 0;
        border-radius: 100%;
    }
    .itemtext{
        z-index: 5;
        display: flexbox;
        margin-top: -70px;
        margin-left: 35px;
        font-size: 25px;
    }
    .itemdesc{
        z-index: 5;
        display: flexbox;
        margin-top: -5px;
        font-size: 10px;
        margin-left: 50px;
    }
    #menu {
        display: block;
        width: 50px;
        height: 50px;
        z-index: 5;
        position: absolute;
        right: 0;
        transition: .3s;
        font-size: 0px;
        text-align: center;
        background-color: rgba(203, 147, 255, 0);
    }
    #menuImg{
        display: block;
        width: 50px;
        position: absolute;
        right: 0;
        transition: .3s;
    }
    #menu:hover{
        width: 100%;
        height: 250px;
        transition: .3s;
        font-size: 40px;
        background-color: rgb(50, 50, 50);
    }
    #menu a{
        color: rgb(255, 255, 255);
        display: none;
    }
    #menu:hover a{
        display:block;
        transition: .3s;
    }
    #projects{
        display: none;
    }
    #main{
        display: none;
    }
    #center-tit{
        width: 100%;
        height: auto;
        position: absolute;
        text-align: center;
        font-size: 25px;
        top: 100px;
    }
}