@media (max-width: 1000px){
    body{
        zoom: 1.2;
    }
}
@media (max-width: 768px){
    body{
        zoom: 0.85;
    }
}
@media (max-width: 435px){
    body{
        zoom: 0.75;
    }
}