@media (max-width: 5000px){
    body{
        zoom: 1.2;
    }
}
@media (max-width: 530px){
    body{
        zoom: 1;
    }
}
@media (max-width: 430px){
    body{
        zoom: 0.8;
    }
}
@media (max-width: 350px){
    body{
        zoom: 0.6;
    }
}